/* code for  page after login start */
/* 
.bar {
    display: none;
    height: 100px;
    background-color: black;
    color: white;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}
.h h1 
{
    
    text-shadow: black;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
   
}
.d
{ */
/* display: flex; */
/* display: inline-block; */
/* align-items: center;
    justify-content: center;
}
.details
{
    margin-left: 50px;
    margin-right: 50px;
    
}
.d .d1
{
    justify-content: center;
    align-items: center;
    
}
.d1
{
    display: flex;
    margin: 20px 20px 20px 20px;
}
.d1 h1{
    word-spacing: 20px;
} */

/* code for page after login end */


/* .bar h1
{
    justify-content: center;
    align-items: center;
} */

/* .details {
    color: hwb(59 2% 0%);
    font-size: 30;
} */






/* new edit for form */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* *
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
} */
body {

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-image: linear-gradient(to right, #380036, #0CBABA);
    background-size: cover;
    opacity: 100%;
}

.form {
    position: relative;
    width: 380px;
    height: 420px;
    background: black;
    border-radius: 8px;
    overflow: hidden;

}

.borderLine {
    position: absolute;
    top: 0;
    inset: 0;
}

.form .aish {
    position: absolute;
    inset: 4px;
    background: black;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    box-shadow: inset;
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 380px;
    height: 420px;
}

.form .aish h1 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.form .aish .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.form .aish .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    color: rgb(7, 6, 6);
}

.form .aish .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.form .aish .inputBox input:valid~span,
.form .aish .inputBox input:focus~span {
    color: grey;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.form .aish .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.form .aish .inputBox input:valid~i,
.form .aish .inputBox input:focus~i {
    height: 44px;
}

.form .aish .l {
    display: flex;
    justify-content: space-between;
}

.box form .l a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;

}

.form .aish .l a:hover,
.form .aish .l a:nth-child(2) {
    color: #fff;
}

.form .aish input[type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: white;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.form .aish input[type="submit"]:active {
    opacity: 0.8;
}

.form .aish input[type="submit"]:hover {
    background-color: white;
}








/* bar edit start */
.bar {
    display: none;

}




/* navbar css  start*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #eeeeee;
    --secondary: #227c70;
    --green: #82cd47;
    --secondary-light: rgb(34, 124, 112, 0.2);
    --secondary-light-2: rgb(127, 183, 126, 0.1);
    --white: #fff;
    --black: #393e46;
    --shadow: 0px 2px 8px 0px var(--secondary-light);
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Popppins", sans-serif;
}

body {

    height: auto;
    width: 100%;
    /* background-color: var(--primary); */
}

.navbar {
    display: flex;
    align-items: center;
    /* height: 70px; */
    background-color: transparent /var(--white);
    padding: 0 8%;

}

.navbar-list {
    width: 100%;
    text-align: right;
    padding-right: 2rem;
}

.navbar-list li {
    display: inline-block;
    margin: 0 1rem;
}

.navbar-list li a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black);
}

.profile-dropdown {
    position: relative;
    width: fit-content;
    z-index: 2;
}

.profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid var(--secondary);
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.profile-dropdown-btn:hover {
    background-color: var(--secondary-light-2);
    box-shadow: var(--shadow);
}

.profile-img {
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url();
    background-size: cover;
}

.profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.3rem;
    color: var(--green);
}

.profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
}

.profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: var(--shadow);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-dropdown-list.active {
    max-height: 500px;
}

.profile-dropdown-list hr {
    border: .5px solid var(--green);
}

.profile-dropdown-list-item {
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s, padding-left 0.2s;
}

.profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
}

.profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--black);
}

.profile-dropdown-list-item a i {
    margin-right: 1rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color: var(--white);
    line-height: 2.3rem;
    text-align: center;
    border-radius: 50%;
}

.profile {
    width: 200px;
    justify-content: center;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #227c70;
    color: black;

}
